<%= form_with(model: book, remote: true) do |form| %>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :book_name, class: "form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :book_isbn, class: "form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :book_price, class: "form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= form.label :user_id %>
    <%#= form.text_field :user_id, id: :book_user_id, class: "form-control" %>
    <%= form.collection_select :user_id, User.order('created_at ASC'), :id, :name, { prompt: "select a author..." }, class: "form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= form.label :category_id %>
    <%#= form.text_field :category_id, id: :book_category_id, class: "form-control" %>
    <%= form.collection_select :category_id, Category.order('name ASC'), :id, :name, { prompt: "select a category..." }, class: "form-control  " %>
  </div>

  <div class="form-check field form-check-inline">
    <%= form.label :publish_status %>
    <%= form.check_box :publish_status, id: :book_publish_status, class: "form-check-input" %>
  </div>

  <br><br>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', books_path, class: "btn btn-primary" %>
  </div>
<% end %>
