<h1>Categories</h1>

<table class="table table-striped category-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="sorter-false filter-false"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td class="btn-group" style="display: inline-block;">
          <%= link_to 'Show', category, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_category_path(category), class: "btn btn-primary" %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- pager -->
<div class="row">
  <div>
    <%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
  </div>

  <div class="pager">
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" title="Goto first"/>
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" title="Goto previous"/>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next" title="Goto next"/>
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" title="Goto last"/>
    <select class="pagesize" title="Select page size">
      <option selected="selected" value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>
<br>
<br>

<br>



<script type="text/javascript">
    $(document).ready(function () {
        tableSorter(".category-table", "categories");
    });
</script>